body{

    background-image: url(img/fundo.jpg);
    background-attachment: fixed;
    background-position: center center;

    
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
      
    background-repeat: no-repeat;

    background-color: black;

   
}



#pai{
    
font-size: 200%;

display: flex;
align-items: center;
justify-content: center;



}

#paiinicio{

    background-repeat: no-repeat;

    margin-top: 10%;

    color:white;

    background-image: linear-gradient( to bottom,  rgb(0, 0, 0), rgb(17, 17, 17), rgb(56, 27, 74), rgb(143, 60, 185));


    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);

    width: 700px;
    
    padding: 70px;
    
    text-align: center;

    height: 420px;

}



.texto1{
color: rgb(255, 255, 255);
}


#filho{

color: rgb(143, 60, 185);

border-radius: 50px;
border:solid;
border-color: black;

background-color: rgb(0, 0, 0);
width: 700px;

padding: 50px;

   
}


/* espaço da pergutas*/

#per1{
padding-top: 20px;
padding-bottom: 50px;
}
#per2{
    padding-bottom: 50px;
}
#per3{
    padding-bottom: 50px;
}
#per4{
    padding-bottom: 50px;
}
#per5{
    padding-bottom: 50px;
}
#per6{
    padding-bottom: 50px;
}
#per7{
    padding-bottom: 50px;
}
#per8{
    padding-bottom: 50px;
}
#per9{
    padding-bottom: 50px;
}
#per10{
    padding-bottom: 50px;
}



#botao1{
    text-align: center;
}

button{
    cursor: pointer;
    background-color: rgb(255, 255, 253);
    border-radius: 25px;
    border: solid;
    padding: 13px;
    color: rgba(0, 0, 0, 0.898);
}



/*parte do naruto*/

#painaruto{

margin-top: 150px;

color:rgb(255, 255, 255);

display: flex;
align-items: center;
justify-content: center;

border-radius: 50px;
border:solid;
border-color: rgb(0, 0, 0);

background-image: linear-gradient( to bottom,  rgb(233, 129, 17), rgb(232, 180, 25), rgb(0, 0, 0), rgb(46, 46, 46));

width: 700px;

padding: 80px;

text-align: center;

height: 420px;

}

/*parte do goku*/


#paigoku{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);

    background-image: linear-gradient( to bottom,  rgb(234, 202, 19), rgb(234, 202, 19),rgb(251, 152, 59),rgb(251, 152, 59));

    width: 700px;
    
    padding: 80px;
    
    text-align: center;

    height: 440px;
    
    }


/*parte do Luffy*/


#pailuffy{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 70px;
    border:solid;
    border-color: rgb(0, 0, 0);
    
    background-image: linear-gradient( to bottom,  rgba(222, 45, 21, 0.917), rgba(222, 45, 21, 0.917),rgba(0, 0, 0, 0.938),rgba(0, 0, 0, 0.894));

    width: 700px;
    
    padding: 80px;
    
    text-align: center;

    height: 440px;
    
    }





/*parte do Ichigo*/


#paiichigo{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    

    background-image: linear-gradient( to bottom,  rgb(0, 0, 0), rgb(0, 0, 0), rgb(51, 51, 51), rgb(68, 68, 68));

    width: 700px;
    
    padding: 80px;
    
    text-align: center;

    height: 450px;
    
    }

    

/*parte do Yugi*/


#paiYugi{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    

    background-image: linear-gradient( to bottom,  rgb(214, 212, 71), rgb(198, 196, 55),rgb(13, 13, 221),rgb(13, 13, 221));

    width: 700px;
    

    padding: 90px;
    
    text-align: center;

    height: 440px;
    
    }


    


/*parte do Ash*/


#paiAsh{

    margin-top: 150px;
    
    color:rgb(0, 0, 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    

    background-image: linear-gradient( to bottom, rgb(225, 26, 26),rgb(234, 71, 71), rgb(255, 255, 255), rgb(255, 255, 255));

    width: 700px;
    
    padding: 80px;

    padding-bottom: 90px;
    
    text-align: center;

    height: 440px;
    
    }

    

/*parte do Ainz*/


#paiAinz{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    

    background-image: linear-gradient( to bottom, rgb(120, 36, 151),rgb(0, 0, 0));

    width: 700px;
    
    padding: 100px;
    
    text-align: center;

    height: 440px;
    
    }

/*parter do Guia vazia*/



#paiguiavazio{

    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);

    background-image: linear-gradient( to bottom, rgb(126, 126, 126),rgb(173, 173, 173));

    padding: 90px;

    text-align: center;

    margin-top: 100px;
    
}




/*retornal para pagina principal*/

.retorna{
font-size: 16px;
}
.retorna1{
font-size: 16px;
color: black;
}


#button1{

    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;

}
#button2{

    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    
}
#button3{

    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
   
}
#button4{

    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    
}
#button5{

    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
  
}
#button6{

    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
   
}
#button7{

    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    
}

#buttoninicio{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    margin-top: 70px;
    color: rgb(152, 42, 236);
    border-radius: 30px;
    border-color: black;
}















.personagem{

    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);

}