body{

    background-image: url(img/fundo.jpg);
    background-attachment: fixed;
    background-position: center center;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
   
        font-family: "Tinos", serif;
        font-weight: 400;
        font-style: normal;
      
        
   
}





#pai{
    
font-size: 21px;

display: flex;
align-items: center;
justify-content: center;
color: rgb(231, 125, 25);

}


#titulo{
    font-size: 50px;

font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;


}

#filho{


border-radius: 50px;
border:solid;
border-color: black;

background-color: rgba(0, 0, 0, 0.847);
width: 700px;

padding: 50px;

   
}




/* espaço da pergutas*/


#per1{
padding-top: 20px;
padding-bottom: 50px;
}
#per2{
    padding-bottom: 50px;
}
#per3{
    padding-bottom: 50px;
}
#per4{
    padding-bottom: 50px;
}
#per5{
    padding-bottom: 50px;
}
#per6{
    padding-bottom: 50px;
}
#per7{
    padding-bottom: 50px;
}
#per8{
    padding-bottom: 50px;
}
#per9{
    padding-bottom: 50px;
}
#per10{
    padding-bottom: 50px;
}










#botao1{
    text-align: center;
}

button{
    cursor: pointer;
    background-color: rgb(255, 255, 253);
    border-radius: 25px;
    border: solid;
    padding: 13px;
    color: rgba(241, 142, 13, 0.898);
}



/*parte do naruto*/

#painaruto{

margin-top: 150px;

color:rgb(255, 255, 255);

display: flex;
align-items: center;
justify-content: center;

border-radius: 50px;
border:solid;
border-color: rgb(0, 0, 0);

background-color: rgba(232, 132, 25, 0.917);
width: 700px;

padding: 50px;

text-align: center;

height: 420px;

}

/*parte do goku*/


#paigoku{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    
    background-color: rgba(234, 202, 19, 0.917);
    width: 700px;
    
    padding: 50px;
    
    text-align: center;

    height: 420px;
    
    }


/*parte do Luffy*/


#pailuffy{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    
    background-image: linear-gradient( to bottom,  rgba(222, 45, 21, 0.917), rgba(222, 45, 21, 0.917),rgba(0, 0, 0, 0.938),rgba(0, 0, 0, 0.894));

    width: 700px;
    
    padding: 50px;
    
    text-align: center;

    height: 420px;
    
    }





/*parte do Ichigo*/


#paiichigo{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    
    background-color: rgba(0, 0, 0, 0.861);
    width: 700px;
    
    padding: 50px;
    
    text-align: center;

    height: 420px;
    
    }

    

/*parte do Yugi*/


#paiYugi{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    

    background-image: linear-gradient( to bottom,  rgb(214, 212, 71), rgb(198, 196, 55),rgb(13, 13, 221),rgb(13, 13, 221));

    width: 700px;
    

    padding: 50px;
    
    text-align: center;

    height: 420px;
    
    }


    


/*parte do Ash*/


#paiAsh{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    

    background-image: linear-gradient( to bottom, rgb(225, 26, 26),rgb(234, 71, 71), rgb(255, 255, 255), rgb(255, 255, 255));

    width: 700px;
    
    padding: 50px;
    
    text-align: center;

    height: 420px;
    
    }

    

/*parte do Ainz*/


#paiAinz{

    margin-top: 150px;
    
    color:rgb(255, 255, 255);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);
    

    background-image: linear-gradient( to bottom, rgb(120, 36, 151),rgb(0, 0, 0));

    width: 700px;
    
    padding: 50px;
    
    text-align: center;

    height: 420px;
    
    }












.personagem{

    border-radius: 50px;
    border:solid;
    border-color: rgb(0, 0, 0);

}