#pai{

background-color: black;
background-image:url("img/phasmo.jpg");
background-size: contain;
background-repeat: no-repeat;
background-position: center center;


}

#filho1{

    
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    
}

#perg1{

    
    margin-left: 410px;

}

#perg2{

 
    margin-left: 20px;

}


#perg3{


    margin-left: 20px;

}




#filho2{

    font-size: 20px;
    color: rgb(255, 255, 255);
    
    
}

#perg4{
    
    margin-left: 800px;
}

















